/config/ide/idea/.idea/workspace.xml
/bin
/generated
/release
/libs
/wiki
.DS_Store
*.bat
*.sh
config/ide/idea/lib/kotlin-reflect.jar
config/ide/idea/lib/kotlin-runtime.jar
.gradle
config/ide/idea/lwjgl3.iml
